.widgetContainer {
  width : 50%;
  flex: 1 0 500px;

  .simpleBar {
    display: flex;
    // background-color: lightgray;
  }

  svg {
    width : 100%;
    // background-color: lightblue;
  }

  .axis {
	  font: 10px sans-serif;
	}

	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}

}
