body {
  // background: green;
}
.container {
  display : flex;
}
// body { margin:0; padding:0; }
#map {
  position:absolute;
  top:0;
  bottom:0;
  width:50%;
}

/* Adjustments to account for mapbox.css box-sizing rules */
.leaflet-control-zoomslider-knob { width:14px; height:6px; }
.leaflet-container .leaflet-control-zoomslider-body {
  -webkit-box-sizing:content-box;
     -moz-box-sizing:content-box;
          box-sizing:content-box;
  }

@import 'scss/main.scss';
