* {
  font-family: Roboto,sans-serif;
}

.container {
  display : flex;
  // flex-wrap : wrap;
  justify-content: center;
  // width : 1000px;
  margin : 0 auto;
}

#mooc_visualizations {
  width : 100%;
  // display : flex;
}
// body { margin:0; padding:0; }
#map {
  // position:absolute;
  // top:0;
  // bottom:0;
  // flex: 1 0 700px;
  height: 400px;
  // width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.leaflet-popup-content img {
  // max-width:80%;
}

/* Adjustments to account for mapbox.css box-sizing rules */
.leaflet-control-zoomslider-knob { width:14px; height:6px; }
.leaflet-container .leaflet-control-zoomslider-body {
  -webkit-box-sizing:content-box;
     -moz-box-sizing:content-box;
          box-sizing:content-box;
  }

@import 'scss/main.scss';
