.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

#mooc_visualizations {
  width: 100%; }

#map {
  flex: 1 0 500px;
  height: 400px;
  width: 50%; }

/* Adjustments to account for mapbox.css box-sizing rules */
.leaflet-control-zoomslider-knob {
  width: 14px;
  height: 6px; }

.leaflet-container .leaflet-control-zoomslider-body {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.widgetContainer {
  width: 50%;
  flex: 1 0 500px; }
