* {
  font-family: Roboto,sans-serif; }

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto; }

#mooc_visualizations {
  width: 100%; }

#map {
  height: 400px;
  width: 100%;
  margin: 0 auto; }

/* Adjustments to account for mapbox.css box-sizing rules */
.leaflet-control-zoomslider-knob {
  width: 14px;
  height: 6px; }

.leaflet-container .leaflet-control-zoomslider-body {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.widgetContainer {
  width: 50%;
  flex: 1 0 500px; }
  .widgetContainer .hideChart {
    display: none; }
  .widgetContainer svg {
    width: 100%; }
  .widgetContainer .axis {
    font: 10px sans-serif; }
  .widgetContainer .axis path,
  .widgetContainer .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges; }
  .widgetContainer .legend {
    font-size: 12px; }
  .widgetContainer rect {
    stroke-width: 2;
    cursor: pointer; }
  .widgetContainer rect.disabled {
    fill: transparent !important; }
  .widgetContainer .simpleDonut {
    height: 360px;
    position: relative;
    width: 360px;
    margin: 0 auto; }
  .widgetContainer .tooltip {
    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333;
    display: none;
    font-size: 12px;
    left: 130px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 95px;
    width: 80px;
    z-index: 10; }
  .widgetContainer h1 {
    font-size: 14px;
    text-align: center; }
